<p>
  c_in: {{ in_d?.day }}
</p> 
<p>
  c_out: {{ out_d?.day }}
</p> 

<div class="m">
  <div class="w">
    <app-placeholder #day_1 (click)="test(day_1)" [config]='[8,1,2018]'></app-placeholder>
    <app-placeholder #day_2 (click)="test(day_2)" [config]='[8,2,2018]'></app-placeholder>
    <app-placeholder #day_3 (click)="test(day_3)" [config]='[8,3,2018]'></app-placeholder>
    <app-placeholder #day_4 (click)="test(day_4)" [config]='[8,4,2018]'></app-placeholder>
    <app-placeholder #day_5 (click)="test(day_5)" [config]='[8,5,2018]'></app-placeholder>

  </div>
  <div class="w">

    
  </div>
  <div class="w">

    
  </div>
  <div class="w">

    
  </div>
  <div class="w">

    
  </div>
</div>
