<button (click)="setNewLangMode()" [hidden]="inNewLanguageMode">
  new
</button>
<div class="new-lang-area" [hidden]="!inNewLanguageMode">
  <button (click)="saveNewLanguage()">
    save
  </button>
  <button (click)="inNewLanguageMode = false">
    cancel
  </button>
  <input [languageInput]="{}" type="text">
</div>

<div *ngFor="let lang of avaliableLangs$ | async">
    <span>{{lang.id}}</span>
    <span *ngIf="!inEditMode">{{lang.name}}</span>
    <input [languageInput]="lang" [hidden]="!inEditMode" type="text" value="{{lang.name}}"/>
    <span *ngIf="!inEditMode" (click)="setEditMode()">e</span>
    <span (click)="removeLang(lang)">x</span>
</div>

<div class="edition-area" *ngIf="inEditMode">
  <button (click)="cancelEdition()">
    cancel edition
  </button>
  
  <button (click)="saveEdition()">
    save
  </button>
</div>

<!-- <input type="text" placeholder="type your language here" #newLangInput (keyup.enter)="addLang(newLangInput.value)"> -->
<!-- <div class="language" *ngFor="let lang of languages$ | async">
    {{ lang.name }}  -->
    <!-- <input #test type="text">
    <span  class="language__edit-btn" (click)="editLang(lang.key,test.value)">edit</span> 
    <span class="language__remove-btn" (click)="removeLang(language)">remove</span>
</div> -->
<!-- <p  (click)="test()">test</p> -->
