@media SCREEN AND (min-width: "376px"){

  /* GLOBAL CLASSES
  ========================*/
  .hide_mobile{
    // display: none;
  }

  /* MAIN CONTAINER
  =========================*/
  .main_wrapper{
    // background: rgba(158, 158, 158, 0.09);
    // position: relative;
    // right: 0%;
    // height: 100%;
    // width: 100%;
    // height: 100vh;
    // width: 100vw;
    // padding-top: 3.5em;

    // transition: ease 0.4s all;

    &.toggled{
      // right: 60%;
    }

  }

  /* HEADER
  =========================*/
  .main_header{
    // position: fixed;
    // top:0;
    // left: 0;
    // height: 3.5em;
    // width: 100%;
    // background: white;
    // box-shadow: 1px 1px 1px rgb(154,154,154);
    // box-shadow: 0px 0px 3px rgb(34, 31, 31);
    // z-index: 1000;

    .portfolio_title{
      // display: inline-block;
      // width: 70%;
      // height: 100%;
      // padding: 1em;
      // text-align: left;
      // letter-spacing: 0.2em;
      // color: rgb(140, 140, 140);
    }

    /* TITLE'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
    /* COMPORTAMENTO DO TÍTULO DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
    .main_wrapper.toggled .main_header .portfolio_title{
      // visibility: hidden;
      // width: 15%;
    }

    .home_anchor{
      // visibility: hidden;
      // position: absolute;
      // top: 20%;
      // left: 5%;
      // font-size: 2em;
      // color: $blueSyntaxGuide;
    }

    /* HOME ANCHOR'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
    /* COMPORTAMENTO DO IÇONE 'HOME' DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
    .main_wrapper.toggled .main_header .home_anchor{
      // visibility: visible;
    }

    .menu_btn{
      // min-height: 100%;
      // width: 3.5em;
      // position: absolute;
      // top: 0px;
      // right: 0px;
      // background: url("../../img/sprite.png") 20px 15px no-repeat;
      // background-size: 25px;
      //
      // transition: ease 0.2s all;

      &.toggled{
        // right: 60%;
        // background: url("../../img/sprite.png") 20px -30px no-repeat;
        // background-size: 25px;
      }
    }
  }

  /* ASIDE BAR
  =========================== */
  .projects_list_section{
    // width: 60vw;
    // height: 100vh;
    // position: fixed;
    // top:0;
    // right: -70vw;
    // right: -70vw;

    // background: #384047;
    //
    // z-index: 10000;
    // transition: ease 0.4s all;

    &.toggled{
      // right: 0;
      // display: block;

    }

    ul{

      li:first-child{
        // margin-top: 0.8em;
      }
    }
  }

  /* FOOTER
  =========================== */
  .footer{
    // display: block;
    // overflow: hidden;
    // width: 100vw;
    // height: auto;
    // background: $footerBackground;
    // color: $footerFontColor;

    .to_top_btn{
      // position: fixed;
      // bottom: 1em;
      // right: 0.5em;
      // visibility: hidden;
      //
      // width: 50px;
      // height: 50px;
      //
      // padding: 0.3em 0 0 0.2em;
      // border: 1px solid transparent;
      // border-radius: 50%;
      //
      // text-align: center;
      //
      // cursor: pointer;

      // transition: all .3s;

      &:hover,&:active{

        &::before{
          // background: transparent;
          // border: 2px solid rgb(158, 158, 158);

        }
      }

      &.active{
        // visibility: visible;
      }

      i{
        // font-size: 2.5em;
        // color: rgb(158, 158, 158);
        // font-weight: 100;
        //
        // transition: all .3s;

      }


      &:before{
        // content: '';
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 0;
        // left: 0;
        //
        // border: 2px solid transparent;
        // border-radius: 50%;
        //
        // opacity: .6;
        // background: rgb(96, 125, 139);
        //
        // transition: all .3s ease-in-out;
      }
    }

    .projects_list{
      // width: 100%;
      // display: block;
      // margin: 0 auto;

        .footer_project_link{
          // text-align: center;
        }
    }

  }

  /* PROJECTS AREA
  =================================*/
  .projects_area{

  }

  .projects_area,
  .project{
    // width: 100%;
    // height: auto;
  }

  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide{
    // background-color: rgb(3, 175, 179);

    .project_header{
      // display: block;
      // height: 100vh;
      // width: 100%;
      // margin: 0 auto 0 auto;
      // color: white;

      // font-size: 0.9em;
      // padding: 8vh 4vw 20vh 4vw;
      // background-image: url("../../img/imac-517449_1366x911.png");
      // background-image: url("../../img/home-office-336373_1920.jpg");
      // background-position: -200px 0;
      // background-repeat: no-repeat;
      // background-size: cover;

      .project_title,
      .project_subtitle{
        // font-weight: 100;
        // font-family: "Cabin",sans-serif;
      }
      .project_title{
        // margin-bottom: 1vh;
        //
        // text-align: center;
        // font-size: 2.5em;
        // letter-spacing: 0.25em;
      }

      .project_subtitle{
        // margin-bottom: 6.5vh;
        // padding: 1.5em 0 0 0;
        //
        // font-size: 1.2em;
        // text-align: center;
        // letter-spacing: 0.15em;
      }

      .more_info_icon{
        // z-index: 3;
        // display: block;
        // width: 8.5em;
        //
        // margin: 0 auto;
        // padding: 0.8em 1.5em;
        // border: 1px solid #03afb3;
        // border-radius: 0.2em;
        //
        // color: #03afb3;
        // font-variant: small-caps;
        // font-size: 1.2em;
        // text-align: center;
        //
        // cursor: pointer;
        // transition: box-shadow .5s ease-in-out;
      }
    }

    .project_content{

      .dropcap{
        // float: left;
        //
        // padding: 0.3em 0.3em;
        // margin: 8px 6px 0 0;
        //
        // font-size: 2em;
        // line-height: 1;
        // color: rgb(255,255,255);
        //
        // background: $blueSyntaxGuide;
      }


      .project_explanation{
        // height: auto;

        .explanation_title{
          // padding: 0 1em;
        }

        .explanation_horizontal_rule{

        }

        .project_type{

        }

        .explanation_section{

        }

        .intro_explanation{

        }

        /* SECOND SECTION OF SYNTAX GUIDE PROJECT
        =====================*/
        .second_explanation{
          // position: relative;
          //
          // height: auto;
          // width: 100%;
          //
          // padding: 0;
          //
          // text-align: left;

          h3{
            // position: absolute;
            // top: 0;
            // left: 0;
            // padding: 2em;
            // margin-bottom: 1.5em;
            //
            // font-size: 1em;
            // font-weight: 400;
            // color: rgb(255,255,255);
            //
            // background: $blueSyntaxGuide;

            span{
              // color: rgb(70, 85, 93);
              // font-weight: 900;
            }
          }

          .project_figure{
            // position: relative;
            // top:11em;

            // height: auto;
          }

          .project_image{
            // width: 90%;

          }

          .simple_search_example_img{
            width: 70%;

          }
          .simple_search_result_example_img{
            width: 85%;
          }
        }

        /* THIRD SECTION OF SYNTAX GUIDE PROJECT
        =====================*/
        .third_explanation{
          // height: auto;

          .info_box{
            // width: 100%;
            // height: auto;

            // margin: 1em 0;
            // background: red;
          }
        }
      }
  }



  // .project_content{
  //   height: auto;
  //   // padding: 14em 0 0 0;
  //
  //   .project_main_icon{
  //     height: 15em;
  //     width: 15em;
  //     margin: 0 auto 2em auto;
  //     background-repeat: no-repeat;
  //     // background-size: 850px 225px;
  //     // background-size: 240px 691px;
  //     background-size: 15em;
  //     background-image: url("../../img/main-icons-sprite2.png");
  //   }
  // }

  .project_explanation{
    // background: rgb(255,255,255);
    // padding-top: 1em;

    .explanation_title{
      // font-weight: 100;
      // font-family: Dosis;
      // letter-spacing: 0.2em;
      // text-align: center;
      // font-variant: small-caps;
      // font-size: 2.7em;
      // color: rgb(177, 177, 177);
    }

    .project_type{
      // display: inline-block;
      // width: 100%;
      // text-align: center;
      // font-size: 0.7em;
      // font-weight: 100;
      // letter-spacing: 0.2em;
      // color: $blueSyntaxGuide;
    }

    .explanation_horizontal_rule{
        // display: block;
        // width: 80%;
        // margin: 1em auto;
        // border-bottom: 1px solid rgb(177, 177, 177);
    }

    .project_figure{


    }

    .project_image{
      // width: 100%;
      // display: block;
      // margin: 0 auto;
    }

    .explanation_section{
      // letter-spacing: 0.1em;
      // padding: 0.5em 1.5em;
      // line-height: 2;
      // text-align: left;
    }

    .intro_explanation{
      // margin-bottom: 1em;
      // color: rgb(66, 89, 99);

      .intro_heading{

        // width: 40%;
        // font-size: 1.5em;
        // line-height: 1.5;

        span{
          // color: $blueSyntaxGuide;
        }
      }
    }

    .second_explanation{


      .simple_search_example_img{
      }
    }
  }

  .project_footer{
    // display: inline-block;
    // width: 100%;
    // margin: 2em 0;

    .project_link{
      // display: inline-block;
      // margin: 0 0 0 20%;
      // width: 60%;
      // padding: 1em;
      // border-radius: 0.5em;
      // text-align: center;
      // letter-spacing: 0.1em;
      // transition: $transitionAll300ease;
    }

  }

  .read_more_btn{
    // display: inline-block;
    // width: 100%;
    // height: 100%;
    // padding: 1em;
    // color: white;
    // text-align: center;
  }

  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide{
    // background-color: rgb(3, 175, 179);




    }


    .project_footer .project_link{
      // border: 1px solid lightgray;
      // color: lightgray;

      &:hover, :active{
        // background: rgb(255,255,255);
        // color: $blueSyntaxGuide;
      }

    }
  }

  /* CODE EDITOR STYLES
  =================================*/
  .code_editor{
    // background: $redCodeEditor;

    .project_header{

    }

    .project_content{

      .project_main_icon{
        // background-position: 0 0;
      }
    }

    .project_footer .project_link{
      // border: 1px solid lightgray;
      // color: lightgray;

      &:hover, :active{
        // background: rgb(255,255,255);
        // color: $redCodeEditor;
        }
    }
  }

  /* FANTASY PES STYLES
  =================================*/
  .fantasy_pes{
    // background: $greenFantasyPES;

    .project_header{

    }

    .project_content{

      .project_main_icon{
        // background-position: -610px 0;
      }
    }

    .project_footer .project_link{
      // border: 1px solid lightgray;
      // color: lightgray;

      &:hover, :active{
        // background: rgb(255,255,255);
        // color: $blueSyntaxGuide;
      }
    }
  }


  /* STYLES TO THE LINKS: AT MAIN NAVIGATION BAR AND THE FOOTER
  ==============================================================*/
  .main_nav_project_link,
  .footer_project_link{
    // display: block;
    // padding: 1em;
    // color: #AFB2B4;
    // color: white;
    // font-size: 1em;
    // transition: ease .2s all;
  }

  .main_nav_project_link::after{
    // content:attr(data-content);
  }
  .guia_link{
     &:hover,:active{
      //  background-color: $blueSyntaxGuide;
     }
  }

  .code_editor_link{
     &:hover,:active{
      //  background-color: $redCodeEditor;
     }
  }

  .fantasy_pes_link{
     &:hover,:active{
      //  background-color: $greenFantasyPES;
     }
  }
}
