@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300|Cabin:400,600,500italic,500|Montserrat+Alternates:400,700|Montserrat:400,700|Dosis:400,300,600,700);
/* MATERIAL ICONS
==============================*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/material-icons/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(../../fonts/material-icons/MaterialIcons-Regular.woff2) format("woff2"), url(../../fonts/material-icons/MaterialIcons-Regular.woff) format("woff"), url(../../fonts/material-icons/MaterialIcons-Regular.ttf) format("truetype"); }
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* MONTSERRAT
==============================*/
/* CABIN
==============================*/
/* DOSIS
==============================*/
* {
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none; }

body {
  position: relative;
  min-height: 100vh; }
  body.toggled {
    overflow: hidden; }

/* GLOBAL CLASSES
========================*/
.hide_mobile {
  display: none; }

.hidden {
  opacity: 0; }

.visible {
  opacity: 1; }

/* MAIN CONTAINER
=========================*/
.main_wrapper {
  background: rgba(158, 158, 158, 0.09);
  position: relative;
  right: 0%;
  height: 100vh;
  width: 100vw;
  padding-top: 3.5em;
  transition: ease 0.4s all; }
  .main_wrapper.toggled {
    right: 189px; }

/* HEADER
=========================*/
/* TITLE'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
/* COMPORTAMENTO DO TÍTULO DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
.main_wrapper.toggled .main_header .portfolio_title {
  visibility: hidden;
  width: 15%; }

/* HOME ANCHOR'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
/* COMPORTAMENTO DO IÇONE 'HOME' DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
.main_wrapper.toggled .main_header .home_anchor {
  visibility: visible; }

.main_header {
  position: fixed;
  top: 0;
  left: 0;
  height: 3.5em;
  width: 100%;
  -webkit-box-shadow: 0px 0px 3px #221f1f;
  -moz-box-shadow: 0px 0px 3px #221f1f;
  -o-box-shadow: 0px 0px 3px #221f1f;
  box-shadow: 0px 0px 3px #221f1f;
  font-family: "Dosis",sans-serif;
  background: white;
  z-index: 1000;
  /* REMOVE THIS STYLES!!!*/ }
  .main_header #size {
    display: inline-block;
    margin-left: -280px; }
  .main_header .portfolio_title {
    display: inline-block;
    width: 70%;
    height: 100%;
    padding: 1em;
    font-size: 1.1em;
    text-align: left;
    letter-spacing: 0.09em;
    color: #8c8c8c; }
  .main_header .home_anchor {
    visibility: hidden;
    position: absolute;
    top: 20%;
    left: 7vw;
    font-size: 2em;
    color: #03afb3; }
  .main_header .menu_btn {
    min-height: 100%;
    height: 100%;
    width: 64px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0.5em 0 0 0;
    text-align: center;
    cursor: pointer;
    transition: ease 0.2s all; }
    .main_header .menu_btn.toggled {
      right: 191.5px; }
      .main_header .menu_btn.toggled .hamburger_icon {
        display: none; }
      .main_header .menu_btn.toggled .close_icon {
        display: inline-block; }
    .main_header .menu_btn .hamburger_icon,
    .main_header .menu_btn .close_icon {
      font-size: 2.5em;
      color: #607d8b;
      transition: all 0.3s ease; }
    .main_header .menu_btn .close_icon {
      display: none; }

/* ASIDE BAR
=========================== */
.projects_list_section {
  width: 190px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -70vw;
  overflow: auto;
  -webkit-box-shadow: -2px 0 9px #403e3e;
  -moz-box-shadow: -2px 0 9px #403e3e;
  -o-box-shadow: -2px 0 9px #403e3e;
  box-shadow: -2px 0 9px #403e3e;
  background: #ececec;
  z-index: 10000;
  transition: ease 0.4s all; }
  .projects_list_section.toggled {
    right: 0; }
  .projects_list_section .projects_list {
      /* END OF ,main_nav_project_link/


      /* SYNTAX GUIDE LINK: AT MAIN NAVIGATION BAR
      /* LINK DO GUIA DE SINTAXES: NA BARRA DE NAVEGAÇÃO PRINCIPAL
      ==============================================================*/
    /* CODE EDITOR LINK: AT MAIN NAVIGATION BAR
    /* LINK DO EDITOR DE TEXTO: NA BARRA DE NAVEGAÇÃO PRINCIPAL
    ==============================================================*/ }
    .projects_list_section .projects_list .main_nav_project_link {
      width: 100%;
      height: 150px;
      padding-top: 0.8em;
      border-bottom: 1px solid #9e9e9e;
      /* LINKS STYLES: AT MAIN NAVIGATION BAR
      /* ESTILOS PARA LINKS: NA BARRA DE NAVEGAÇÃO PRINCIPAL
      ==============================================================*/
      /* END OF & > .main_nav_link */ }
      .projects_list_section .projects_list .main_nav_project_link > .main_nav_link {
        width: 95px;
        height: 86px;
        display: block;
        margin: 0 auto;
        background: red;
        background: url("../../img/nav-bar-icons-sprite-2.png");
        background-size: 100%;
        transition: color,transform .3s ease-in-out; }
        .projects_list_section .projects_list .main_nav_project_link > .main_nav_link::after {
          width: 130px;
          display: block;
          position: relative;
          top: 100px;
          left: -14%;
          content: attr(data-content);
          color: #888686;
          text-transform: uppercase;
          font-size: 0.9em; }
    .projects_list_section .projects_list #syntax_guide_link:hover, .projects_list_section .projects_list #syntax_guide_link:active {
      background-position: 0 -90.5px; }
      .projects_list_section .projects_list #syntax_guide_link:hover::after, .projects_list_section .projects_list #syntax_guide_link:active::after {
        color: #03afb3; }
    .projects_list_section .projects_list #code_editor_link {
      background-position: 0 -182px; }
      .projects_list_section .projects_list #code_editor_link:hover, .projects_list_section .projects_list #code_editor_link:active {
        background-position: 0 -273px; }
        .projects_list_section .projects_list #code_editor_link:hover::after, .projects_list_section .projects_list #code_editor_link:active::after {
          color: tomato; }

/* FOOTER
=========================== */
.footer {
  display: block;
  overflow: hidden;
  width: 100vw;
  height: auto;
  background: #384047;
  color: #afb2b4;
  /* END OF .to_top_btn */ }
  .footer .to_top_btn {
    position: fixed;
    bottom: 1em;
    right: 0.5em;
    visibility: hidden;
    width: 50px;
    height: 50px;
    padding: 0.3em 0 0 0.2em;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: all .3s; }
    .footer .to_top_btn:hover::before, .footer .to_top_btn:active::before {
      background: transparent;
      border: 2px solid #9e9e9e; }
    .footer .to_top_btn.active {
      visibility: visible; }
    .footer .to_top_btn i {
      font-size: 2.5em;
      color: #9e9e9e;
      font-weight: 100;
      transition: all .3s; }
    .footer .to_top_btn:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 2px solid transparent;
      border-radius: 50%;
      opacity: .6;
      background: #607d8b;
      transition: all .3s ease-in-out; }
  .footer .projects_list {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; }
    .footer .projects_list li {
      width: 70%;
      height: 100%;
      margin: 0 auto;
      padding: 2em; }
    .footer .projects_list .footer_project_link {
      display: inline-block;
      width: 100%;
      height: 100%;
      text-align: center;
      font-size: 1.3em; }
      .footer .projects_list .footer_project_link .footer_project_icon {
        width: 100%;
        height: 250px;
        margin: 10px auto; }
        .footer .projects_list .footer_project_link .footer_project_icon svg {
          width: 100%; }
    .footer .projects_list .syntax_guide_link {
      color: #03afb3; }
    .footer .projects_list .code_editor_link {
      color: #ff6347; }

/* PROJECTS AREA
=================================*/
.projects_area,
.project {
  width: 100%;
  height: auto;
  /* STYLES FOR ALL <figure class="project_figure">
  ===================================================*/ }
  .projects_area .project_figure,
  .project .project_figure {
    width: 98.5%;
    height: auto; }

/* SYNTAX GUIDE STYLES
=================================*/
.syntax_guide {
  background-color: #03afb3;
  /* END OF SYNTAX GUIDE .project_header */
  /* END OF .project_content*/
  /* FOOTER OF SYNTAX GUIDE PROJECT
  =======================*/
  /* END OF .project_footer*/ }
  .syntax_guide .project_header {
    display: block;
    height: 100vh;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0.5vh 4vw 20vh 4vw;
    background-image: url("../../img/imac-517449_1366x911.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat',sans-serif;
    color: white;
    font-size: 0.9em; }
    .syntax_guide .project_header .project_title,
    .syntax_guide .project_header .project_subtitle {
      font-weight: 100;
      font-family: "Cabin",sans-serif; }
    .syntax_guide .project_header .project_title {
      margin-bottom: 1vh;
      text-align: center;
      font-size: 1.7em;
      letter-spacing: 0.25em;
      animation-duration: 3s; }
    .syntax_guide .project_header .project_subtitle {
      margin-bottom: 2.5vh;
      padding: 0.2em 0 0 0;
      font-size: 1em;
      text-align: center;
      letter-spacing: 0.15em;
      animation-duration: 1.8s; }
    .syntax_guide .project_header .more_info_icon {
      z-index: 3;
      display: block;
      width: 8em;
      margin: 0 auto;
      padding: 0.5em 1.5em;
      border: 1px solid #03afb3;
      border-radius: 0.2em;
      color: #03afb3;
      font-variant: small-caps;
      font-size: 1.2em;
      text-align: center;
      cursor: pointer;
      transition: all .8s ease-in-out; }
      .syntax_guide .project_header .more_info_icon:active, .syntax_guide .project_header .more_info_icon:hover {
        -webkit-box-shadow: 200px 0 0 0 #03afb3 inset;
        -moz-box-shadow: 200px 0 0 0 #03afb3 inset;
        -o-box-shadow: 200px 0 0 0 #03afb3 inset;
        box-shadow: 200px 0 0 0 #03afb3 inset;
        color: white; }
  .syntax_guide .project_content {
    font-family: "Cabin",sans-serif;
    /* END OF .project_explanation*/ }
    .syntax_guide .project_content .dropcap {
      float: left;
      padding: 0.3em 0.3em;
      margin: 8px 6px 0 0;
      font-size: 2em;
      line-height: 1;
      color: white;
      background: #03afb3; }
    .syntax_guide .project_content .project_explanation {
      height: auto;
      /* SECOND SECTION OF SYNTAX GUIDE PROJECT
      =====================*/
      /* THIRD SECTION OF SYNTAX GUIDE PROJECT
      =====================*/
      /* END OF .third_explanation*/ }
      .syntax_guide .project_content .project_explanation .explanation_title {
        padding: 0 1em; }
      .syntax_guide .project_content .project_explanation .second_explanation {
        position: relative;
        height: auto;
        width: 100%;
        padding: 0;
        text-align: left; }
        .syntax_guide .project_content .project_explanation .second_explanation h3 {
          padding: 2em;
          margin-bottom: 1.5em;
          font-size: 1em;
          font-weight: 400;
          color: white;
          background: #03afb3; }
          .syntax_guide .project_content .project_explanation .second_explanation h3 span {
            color: #46555d;
            font-weight: 900; }
        .syntax_guide .project_content .project_explanation .second_explanation .project_figure {
          height: auto;
          margin: 1.8em 0.5em; }
        .syntax_guide .project_content .project_explanation .second_explanation .project_image {
          width: 90%; }
        .syntax_guide .project_content .project_explanation .second_explanation .simple_search_example_img {
          width: 70%; }
        .syntax_guide .project_content .project_explanation .second_explanation .simple_search_result_example_img {
          width: 95%; }
      .syntax_guide .project_content .project_explanation .third_explanation {
        height: auto;
        background: #032021;
        background: #03afb3;
        color: white;
        font-family: 'Dosis',sans-serif;
        /* END OF .info_box*/ }
        .syntax_guide .project_content .project_explanation .third_explanation .info_box {
          width: 100%;
          height: auto;
          margin: 1.5em 0;
          text-align: center;
          animation-duration: 1.5s; }
          .syntax_guide .project_content .project_explanation .third_explanation .info_box .icons_group {
            width: 100%;
            overflow: hidden; }
            .syntax_guide .project_content .project_explanation .third_explanation .info_box .icons_group i {
              margin: 0 0.25em; }
          .syntax_guide .project_content .project_explanation .third_explanation .info_box .material-icons {
            font-size: 3em; }
          .syntax_guide .project_content .project_explanation .third_explanation .info_box p {
            font-size: 1em; }
  .syntax_guide .project_footer {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 2em 0;
    font-family: "Montserrat",sans-serif;
    background: white; }
    .syntax_guide .project_footer .project_figure {
      margin: 0 auto; }
      .syntax_guide .project_footer .project_figure img {
        display: block;
        width: 95%;
        margin: 0 auto; }
    .syntax_guide .project_footer .project_link {
      display: inline-block;
      width: 60%;
      margin: 0 0 0 20%;
      padding: 1em;
      border: 2px solid #03afb3;
      border-radius: 0.5em;
      color: white;
      color: #03afb3;
      text-align: center;
      letter-spacing: 0.1em;
      background: transparent;
      transition: box-shadow ease-in-out .55s; }
      .syntax_guide .project_footer .project_link:hover, .syntax_guide .project_footer .project_link:active {
        -webkit-box-shadow: 350px 0 0 0 #03afb3 inset;
        -moz-box-shadow: 350px 0 0 0 #03afb3 inset;
        -o-box-shadow: 350px 0 0 0 #03afb3 inset;
        box-shadow: 350px 0 0 0 #03afb3 inset;
        color: white; }
  .syntax_guide .project_explanation {
    background: white;
    padding-top: 1em; }
    .syntax_guide .project_explanation .explanation_title {
      font-weight: 100;
      font-family: Dosis;
      letter-spacing: 0.2em;
      text-align: center;
      font-variant: small-caps;
      font-size: 2.7em;
      color: #b1b1b1; }
    .syntax_guide .project_explanation .project_type {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 0.7em;
      font-weight: 100;
      letter-spacing: 0.2em;
      color: #03afb3; }
    .syntax_guide .project_explanation .explanation_horizontal_rule {
      display: block;
      width: 80%;
      margin: 1em auto;
      border-bottom: 1px solid #b1b1b1; }
    .syntax_guide .project_explanation .project_image {
      width: 100%;
      display: block;
      margin: 0 auto; }
    .syntax_guide .project_explanation .explanation_section {
      letter-spacing: 0.1em;
      padding: 0.5em 1.5em;
      line-height: 2;
      text-align: left; }
    .syntax_guide .project_explanation .intro_explanation {
      margin-bottom: 1em;
      color: #425963; }
  .syntax_guide .read_more_btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1em;
    color: white;
    text-align: center; }

/* END OF .syntax_guide */
/* CODE EDITOR STYLES
=================================*/
.code_editor {
  background-color: black;
  /* END OF CODE EDITOR .project_header */
  /* END OF .project_content*/
  /* FOOTER OF SYNTAX GUIDE PROJECT
  =======================*/
  /* END OF .project_footer*/ }
  .code_editor .project_header {
    position: relative;
    display: block;
    height: 50vh;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0.5vh 4vw 20vh 4vw;
    background-image: url("../../img/workstation-336369_1920.jpg");
    background-image: url("../../img/workstation2-336369_1920.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Montserrat',sans-serif;
    color: white;
    font-size: 0.9em; }
    .code_editor .project_header::before {
      content: " ";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: black;
      opacity: 0.4; }
    .code_editor .project_header .project_title,
    .code_editor .project_header .project_subtitle {
      font-weight: 100;
      font-family: "Cabin",sans-serif;
      font-family: "Dosis",sans-serif; }
    .code_editor .project_header .project_title {
      position: relative;
      margin-top: 8vh;
      margin-bottom: 1vh;
      text-align: center;
      font-size: 3.7em;
      letter-spacing: 0.05em;
      animation-duration: 3s; }
    .code_editor .project_header .project_subtitle {
      margin-bottom: 2.5vh;
      padding: 0.2em 0 0 0;
      font-size: 1em;
      text-align: center;
      letter-spacing: 0.15em;
      animation-duration: 1.8s; }
    .code_editor .project_header .more_info_icon {
      z-index: 3;
      display: block;
      width: 8em;
      margin: 0 auto;
      padding: 0.5em 1.5em;
      border: 1px solid #03afb3;
      border-radius: 0.2em;
      color: #03afb3;
      font-variant: small-caps;
      font-size: 1.2em;
      text-align: center;
      cursor: pointer;
      transition: all .8s ease-in-out; }
      .code_editor .project_header .more_info_icon:active, .code_editor .project_header .more_info_icon:hover {
        box-shadow: 200px 0 0 0 #03afb3 inset;
        color: white; }
  .code_editor .project_content {
    font-family: "Cabin",sans-serif;
    /* END OF .project_explanation*/ }
    .code_editor .project_content .dropcap {
      float: left;
      padding: 0.3em 0.3em;
      margin: 8px 6px 0 0;
      font-size: 2em;
      line-height: 1;
      color: white;
      background: #03afb3; }
    .code_editor .project_content .project_explanation {
      height: auto;
      /* SECOND SECTION OF CODE EDITOR PROJECT
      =====================*/ }
      .code_editor .project_content .project_explanation .explanation_title {
        padding: 0 1em;
        font-size: 2em;
        font-weight: 900;
        color: tomato; }
      .code_editor .project_content .project_explanation .project_type {
        color: tomato; }
      .code_editor .project_content .project_explanation .intro_explanation {
        letter-spacing: 0;
        padding: 0;
        line-height: 0;
        text-align: center; }
        .code_editor .project_content .project_explanation .intro_explanation p {
          width: 80%;
          margin: 3em auto;
          line-height: initial;
          text-align: center;
          font-style: italic;
          color: #969696; }
      .code_editor .project_content .project_explanation .second_explanation {
        position: relative;
        height: auto;
        width: 100%;
        padding: 0;
        text-align: left; }
        .code_editor .project_content .project_explanation .second_explanation h3 {
          padding: 2em;
          margin-bottom: 1.5em;
          font-size: 1em;
          font-weight: 400;
          color: white;
          background: #03afb3; }
          .code_editor .project_content .project_explanation .second_explanation h3 span {
            color: #46555d;
            font-weight: 900; }
        .code_editor .project_content .project_explanation .second_explanation .info_box {
          height: auto;
          margin-top: 3.5em;
          animation-delay: .5s;
          animation-duration: 1s;
          /* <code> TAG FOR HTML EXAMPLE */
          /* TAG <code> PARA O EXEMPLO DE HTML */
          /* <code> TAG FOR CSS EXAMPLE */
          /* TAG <code> PARA O EXEMPLO DE CSS */
          /* <code> TAG FOR JAVASCRIPT EXAMPLE */
          /* TAG <code> PARA O EXEMPLO DE JAVASCRIPT*/
          /* DEFAULT STYLES FOR <code> TAG */
          /* ESTILO PADRÃO PARA A TAG <code> */ }
          .code_editor .project_content .project_explanation .second_explanation .info_box .project_figure {
            display: block;
            position: relative;
            top: 60px;
            width: 150px;
            height: 150px;
            margin: 0 auto 8em auto;
            transform: rotate(45deg); }
            .code_editor .project_content .project_explanation .second_explanation .info_box .project_figure::after {
              content: " ";
              position: absolute;
              left: -5px;
              top: 5px;
              width: 100%;
              height: 100%;
              border: 1px solid lightgray; }
            .code_editor .project_content .project_explanation .second_explanation .info_box .project_figure::before {
              content: " ";
              position: absolute;
              left: 5px;
              top: -5px;
              width: 100%;
              height: 100%;
              border: 1px solid lightgray; }
            .code_editor .project_content .project_explanation .second_explanation .info_box .project_figure svg {
              display: inline-block;
              position: absolute;
              left: 30px;
              top: 30px;
              width: 60%;
              height: 60%;
              font-size: 2em;
              transform: rotate(-45deg); }
          .code_editor .project_content .project_explanation .second_explanation .info_box h3 {
            background: none;
            padding: 0 1em;
            margin-bottom: 1em;
            color: dimgray;
            font-family: "Dosis" ,sans-serif;
            font-size: 1.5em;
            text-align: center;
            line-height: 40px; }
            .code_editor .project_content .project_explanation .second_explanation .info_box h3 span {
              color: tomato;
              font-weight: inherit; }
          .code_editor .project_content .project_explanation .second_explanation .info_box p {
            text-align: center; }
          .code_editor .project_content .project_explanation .second_explanation .info_box .html_code_example {
            padding-left: 8%; }
          .code_editor .project_content .project_explanation .second_explanation .info_box .css_code_example {
            padding-left: 1em; }
          .code_editor .project_content .project_explanation .second_explanation .info_box .js_code_example {
            padding-left: 4%;
            font-size: 1em; }
          .code_editor .project_content .project_explanation .second_explanation .info_box code {
            display: block;
            padding: 1em;
            color: #9e9e9e;
            font-size: 1em;
            text-align: left;
            letter-spacing: 0;
            background: rgba(255, 99, 71, 0.05);
            /* STYLES TO DISPLAY HTML IN A BETTER FORMAT*/
            /* ESTILOS PARA EXIBIR AS TAGS EM UM FORMATO MELHOR */
            /* HTML */
            /* CSS */
            /* JAVASCRIPT */ }
            .code_editor .project_content .project_explanation .second_explanation .info_box code .tab {
              margin-left: 1em; }
            .code_editor .project_content .project_explanation .second_explanation .info_box code .tag::before {
              content: "<"; }
            .code_editor .project_content .project_explanation .second_explanation .info_box code .tag::after {
              content: ">"; }
            .code_editor .project_content .project_explanation .second_explanation .info_box code .div {
              display: block; }
            .code_editor .project_content .project_explanation .second_explanation .info_box code .p {
              display: inline-block; }
            .code_editor .project_content .project_explanation .second_explanation .info_box code .open_curly_braces {
              display: block; }
              .code_editor .project_content .project_explanation .second_explanation .info_box code .open_curly_braces::after {
                content: "{"; }
            .code_editor .project_content .project_explanation .second_explanation .info_box code .close_curly_braces::after {
              content: "}"; }
            .code_editor .project_content .project_explanation .second_explanation .info_box code .css_decl {
              display: block;
              margin-left: 1em; }
            .code_editor .project_content .project_explanation .second_explanation .info_box code .function {
              display: block; }
            .code_editor .project_content .project_explanation .second_explanation .info_box code .function_content {
              display: block;
              margin-left: 1.5em; }
          .code_editor .project_content .project_explanation .second_explanation .info_box .project_image {
            width: 90%; }
        .code_editor .project_content .project_explanation .second_explanation .simple_search_example_img {
          width: 70%; }
        .code_editor .project_content .project_explanation .second_explanation .simple_search_result_example_img {
          width: 95%; }
  .code_editor .project_footer {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 2em 0;
    font-family: "Montserrat",sans-serif;
    background: white; }
    .code_editor .project_footer .project_figure {
      margin: 0;
      /* RESET SIDE MARGINS - OVERIDE 'NORMALIZE.CSS'*/
      margin-bottom: 1em; }
      .code_editor .project_footer .project_figure img {
        display: block;
        width: 98%;
        margin: 0 auto; }
    .code_editor .project_footer .project_link {
      display: inline-block;
      width: 60%;
      margin: 0 0 0 20%;
      padding: 1em;
      border: 2px solid tomato;
      border-radius: 0.5em;
      color: white;
      color: tomato;
      text-align: center;
      letter-spacing: 0.1em;
      background: transparent;
      transition: box-shadow ease-in-out .55s; }
      .code_editor .project_footer .project_link:hover, .code_editor .project_footer .project_link:active {
        -webkit-box-shadow: 350px 0 0 0 tomato inset;
        -moz-box-shadow: 350px 0 0 0 tomato inset;
        -o-box-shadow: 350px 0 0 0 tomato inset;
        box-shadow: 350px 0 0 0 tomato inset;
        color: white; }
  .code_editor .project_explanation {
    background: white;
    padding-top: 1em; }
    .code_editor .project_explanation .explanation_title {
      font-weight: 100;
      font-family: Dosis;
      letter-spacing: 0.2em;
      text-align: center;
      font-variant: small-caps;
      font-size: 2.7em;
      color: #b1b1b1; }
    .code_editor .project_explanation .project_type {
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 0.7em;
      font-weight: 100;
      letter-spacing: 0.2em;
      color: #03afb3; }
    .code_editor .project_explanation .explanation_horizontal_rule {
      display: block;
      width: 80%;
      margin: 1em auto;
      border-bottom: 1px solid #b1b1b1; }
    .code_editor .project_explanation .project_image {
      width: 100%;
      display: block;
      margin: 0 auto; }
    .code_editor .project_explanation .explanation_section {
      letter-spacing: 0.1em;
      padding: 0.5em 1.5em;
      line-height: 2;
      text-align: left; }
    .code_editor .project_explanation .intro_explanation {
      margin-bottom: 1em;
      color: #425963; }
  .code_editor .read_more_btn {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1em;
    color: white;
    text-align: center; }

/* END OF .code_editor */
/* FANTASY PES STYLES
=================================*/
.fantasy_pes {
  background: #4caf50; }
  .fantasy_pes .project_content .project_main_icon {
    background-position: -610px 0; }
  .fantasy_pes .project_footer .project_link {
    border: 1px solid lightgray;
    color: lightgray; }
    .fantasy_pes .project_footer .project_link:hover, .fantasy_pes .project_footer .project_link :active {
      background: white;
      color: #03afb3; }

/* MEDIA QUERIES PARA PEQUENOS SMARTPHONES
/* MEDIA QUERIES FOR SMALL SMARTPHONES
===========================================*/
/* PEQUENOS SMARTPHONES WITH ALTURA > 239px (iPhone 5 e iPhone 5S)
/* SMALL SMARTPHONES WITH HEIGHT > 239px (iPhone 5 e iPhone 5S)
===========================================================*/
@media SCREEN and (min-height: 240px) {
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* END OF SYNTAX GUIDE .project_header */ }
    .syntax_guide .project_header .project_title {
      margin-bottom: 2vh;
      font-size: 2em; }
    .syntax_guide .project_header .project_subtitle {
      margin-top: 8.5vh;
      margin-bottom: 10.5vh;
      font-size: 1.2em; }

  /* END OF .syntax_guide */ }
/* END OF MEDIA QUERY */
/* SMARTPHONES MÉDIOS WITH ALTURA > 640px NO MODO RETRATO  (iPhone 6 e Galaxy S5 e Nexus 4)
/* MEDIUM SMARTPHONES WITH HEIGHT > 640px ON PORTRAIT MODE (iPhone 6 e Galaxy S5 e Nexus 4)
===========================================================*/
@media SCREEN and (min-width: 360px) and (min-height: 640px) {
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* END OF SYNTAX GUIDE .project_header */ }
    .syntax_guide .project_header {
      padding: 8.5vh 4vw 20vh 4vw; }
      .syntax_guide .project_header .project_title {
        margin-bottom: 2vh;
        font-size: 2.5em;
        font-weight: 900; }
      .syntax_guide .project_header .project_subtitle {
        margin-top: 8.5vh;
        margin-bottom: 15.5vh;
        font-size: 1.2em; }

  /* END OF .syntax_guide */ }
/* END OF MEDIA QUERY */
/* SMARTPHONES MÉDIOS WITH ALTURA > 640px NO MODO PAISAGEM  (iPhone 6 e Galaxy S5 e Nexus 4)
/* MEDIUM SMARTPHONES WITH HEIGHT > 640px ON LANSCAPE MODE (iPhone 6 e Galaxy S5 e Nexus 4)
===========================================================*/
@media SCREEN and (min-width: 640px) and (min-height: 320px) {
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* END OF SYNTAX GUIDE .project_header */ }
    .syntax_guide .project_header {
      padding: 8.5vh 4vw 20vh 4vw; }
      .syntax_guide .project_header .project_title {
        margin-bottom: 2vh;
        font-size: 2.5em;
        font-weight: 900; }
      .syntax_guide .project_header .project_subtitle {
        margin-top: 8.5vh;
        font-size: 1.2em; }

  /* END OF .syntax_guide */ }
/* END OF MEDIA QUERY */
/* MEDIA QUERIES PARA TABLETS
/* MEDIA QUERIES FOR TABLETS
===========================================*/
/* TABLETS PEQUENOS EM MODO 'RETRATO'
/* SMALL TABLETS ON 'PORTRAIT' MODE
=========================================================*/
@media SCREEN and (min-width: 600px) and (min-height: 855px) {
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* END OF SYNTAX GUIDE .project_header */ }
    .syntax_guide .project_header {
      /* END OF SYNTAX GUIDE .more_info_icon */ }
      .syntax_guide .project_header .project_title {
        font-size: 4em; }
      .syntax_guide .project_header .project_subtitle {
        font-size: 1.5em; }

  /* END OF .syntax_guide */ }
/* END OF MEDIA QUERY */
/* TABLETS PEQUENOS EM MODO 'PAISAGEM'
/* SMALL TABLETS ON 'LANDSCAPE' MODE
=========================================================*/
@media SCREEN and (min-width: 1024px) and (min-height: 430px) {
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* END OF SYNTAX GUIDE .project_header */ }
    .syntax_guide .project_header {
      /* END OF SYNTAX GUIDE .more_info_icon */ }
      .syntax_guide .project_header .project_title {
        margin-bottom: 1vh;
        font-size: 3.5em; }
      .syntax_guide .project_header .project_subtitle {
        font-size: 1.5em; }

  /* END OF .syntax_guide */ }
/* END OF MEDIA QUERY */
/* TABLETS MÉDIOS/GRANDES EM MODO 'PAISAGEM'
/* MEDIUM/LARGE TABLETS ON 'LANDSCAPE' MODE
=========================================================*/
@media SCREEN and (min-width: 1024px) and (min-height: 768px) {
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* END OF SYNTAX GUIDE .project_header */ }
    .syntax_guide .project_header {
      /* END OF SYNTAX GUIDE .more_info_icon */ }
      .syntax_guide .project_header .project_title {
        margin-bottom: 1vh;
        font-size: 4.5em; }
      .syntax_guide .project_header .project_subtitle {
        margin-top: 8.5vh;
        font-size: 1.8em;
        letter-spacing: 0.15em; }
      .syntax_guide .project_header .more_info_icon {
        width: 8.9em;
        padding: 0.8em 1.5em;
        font-size: 1.3em;
        letter-spacing: 0.1em; }
        .syntax_guide .project_header .more_info_icon:active, .syntax_guide .project_header .more_info_icon:hover {
          box-shadow: 300px 0 0 0 #03afb3 inset;
          color: white; }

  /* END OF .syntax_guide */ }
/* END OF MEDIA QUERY */
@media SCREEN and (min-width: 321px) {
  /* GLOBAL CLASSES
  ========================*/
  /* MAIN CONTAINER
  =========================*/
  /* HEADER
  =========================*/
  .main_header {
    /* TITLE'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
    /* COMPORTAMENTO DO TÍTULO DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
    /* HOME ANCHOR'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
    /* COMPORTAMENTO DO IÇONE 'HOME' DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */ }
    .main_header .portfolio_title {
      color: #8c8c8c; }

  /* ASIDE BAR
  =========================== */
  /* FOOTER
  =========================== */
  /* PROJECTS AREA
  =================================*/
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* SYNTAX GUIDE STYLES
    =================================*/ }
    .syntax_guide .project_content .project_explanation {
      /* SECOND SECTION OF SYNTAX GUIDE PROJECT
      =====================*/
      /* THIRD SECTION OF SYNTAX GUIDE PROJECT
      =====================*/ }

  /* CODE EDITOR STYLES
  =================================*/
  /* FANTASY PES STYLES
  =================================*/
  /* STYLES TO THE LINKS: AT MAIN NAVIGATION BAR AND THE FOOTER
  ==============================================================*/ }
@media SCREEN and (min-width: 376px) {
  /* GLOBAL CLASSES
  ========================*/
  /* MAIN CONTAINER
  =========================*/
  /* HEADER
  =========================*/
  .main_header {
    /* TITLE'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
    /* COMPORTAMENTO DO TÍTULO DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
    /* HOME ANCHOR'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
    /* COMPORTAMENTO DO IÇONE 'HOME' DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */ }

  /* ASIDE BAR
  =========================== */
  /* FOOTER
  =========================== */
  /* PROJECTS AREA
  =================================*/
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* SYNTAX GUIDE STYLES
    =================================*/ }
    .syntax_guide .project_content .project_explanation {
      /* SECOND SECTION OF SYNTAX GUIDE PROJECT
      =====================*/
      /* THIRD SECTION OF SYNTAX GUIDE PROJECT
      =====================*/ }
      .syntax_guide .project_content .project_explanation .second_explanation .simple_search_example_img {
        width: 70%; }
      .syntax_guide .project_content .project_explanation .second_explanation .simple_search_result_example_img {
        width: 85%; }

  /* CODE EDITOR STYLES
  =================================*/
  /* FANTASY PES STYLES
  =================================*/
  /* STYLES TO THE LINKS: AT MAIN NAVIGATION BAR AND THE FOOTER
  ==============================================================*/ }
@media SCREEN and (min-width: 426px) {
  /* GLOBAL CLASSES
  ========================*/
  /* MAIN CONTAINER
  =========================*/
  .main_wrapper.toggled {
    right: 215px; }

  /* HEADER
  =========================*/
  .main_header {
    /* TITLE'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
    /* COMPORTAMENTO DO TÍTULO DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
    /* HOME ANCHOR'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
    /* COMPORTAMENTO DO IÇONE 'HOME' DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */ }
    .main_header .home_anchor {
      left: 25vw; }
    .main_header .menu_btn.toggled {
      right: 215px; }

  /* ASIDE BAR
  =========================== */
  .projects_list_section {
    width: 215px; }
    .projects_list_section .projects_list {
        /* END OF ,main_nav_project_link/


        /* SYNTAX GUIDE LINK: AT MAIN NAVIGATION BAR
        /* LINK DO GUIA DE SINTAXES: NA BARRA DE NAVEGAÇÃO PRINCIPAL
        ==============================================================*/
      /* CODE EDITOR LINK: AT MAIN NAVIGATION BAR
      /* LINK DO EDITOR DE TEXTO: NA BARRA DE NAVEGAÇÃO PRINCIPAL
      ==============================================================*/ }
      .projects_list_section .projects_list .main_nav_project_link {
        /* LINKS STYLES: AT MAIN NAVIGATION BAR
        /* ESTILOS PARA LINKS: NA BARRA DE NAVEGAÇÃO PRINCIPAL
        ==============================================================*/
        /* END OF & > .main_nav_link */ }

  /* FOOTER
  =========================== */
  /* PROJECTS AREA
  =================================*/
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* SYNTAX GUIDE STYLES
    =================================*/ }
    .syntax_guide .project_content .project_explanation {
      /* SECOND SECTION OF SYNTAX GUIDE PROJECT
      =====================*/
      /* THIRD SECTION OF SYNTAX GUIDE PROJECT
      =====================*/ }
      .syntax_guide .project_content .project_explanation .second_explanation h3 {
        padding: 2em 3em 2em 5em; }
      .syntax_guide .project_content .project_explanation .second_explanation .simple_search_example_img {
        width: 230px; }
      .syntax_guide .project_content .project_explanation .second_explanation .simple_search_result_example_img {
        width: 70%; }
      .syntax_guide .project_content .project_explanation .third_explanation .info_box p {
        font-size: 1.2em; }

  /* CODE EDITOR STYLES
  =================================*/
  /* FANTASY PES STYLES
  =================================*/
  /* STYLES TO THE LINKS: AT MAIN NAVIGATION BAR AND THE FOOTER
  ==============================================================*/ }
@media screen and (min-width: 551px) {
  /* GLOBAL CLASSES
  ========================*/
  /* MAIN CONTAINER
  =========================*/
  /* HEADER
  =========================*/
  /* TITLE'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
  /* COMPORTAMENTO DO TÍTULO DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
  .main_wrapper.toggled .main_header .portfolio_title {
    visibility: visible;
    width: 50vw; }

  /* HOME ANCHOR'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
  /* COMPORTAMENTO DO IÇONE 'HOME' DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
  .main_wrapper.toggled .main_header .home_anchor {
    visibility: hidden; }

  .main_header .home_anchor {
    visibility: hidden; }

  /* ASIDE BAR
  =========================== */
  /* FOOTER
  =========================== */
  /* PROJECTS AREA
  =================================*/
  .projects_area,
  .project {
    /* STYLES FOR ALL <figure class="project_figure">
    ===================================================*/ }

  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* END OF .project_content*/
    /* FOOTER OF SYNTAX GUIDE PROJECT
    =======================*/
    /* END OF .project_footer*/
    /* SYNTAX GUIDE STYLES
    =================================*/ }
    .syntax_guide .project_content {
      /* END OF .project_explanation*/ }
      .syntax_guide .project_content .project_explanation {
        /* SECOND SECTION OF SYNTAX GUIDE PROJECT
        =====================*/
        /* THIRD SECTION OF SYNTAX GUIDE PROJECT
        =====================*/
        /* END OF .third_explanation*/ }
        .syntax_guide .project_content .project_explanation .project_type {
          font-size: 1em; }
        .syntax_guide .project_content .project_explanation .intro_explanation {
          padding: 0.5em 2.4em; }
          .syntax_guide .project_content .project_explanation .intro_explanation p {
            font-size: 1.2em; }
        .syntax_guide .project_content .project_explanation .second_explanation h3 {
          padding: 2em 1em 2em 3em;
          font-size: 1em;
          font-size: 1.1em; }
        .syntax_guide .project_content .project_explanation .second_explanation .simple_search_example_img {
          width: 250px; }
        .syntax_guide .project_content .project_explanation .second_explanation .simple_search_result_example_img {
          width: 350px; }
        .syntax_guide .project_content .project_explanation .third_explanation .info_box p {
          font-size: 1.4em; }
    .syntax_guide .project_footer .project_figure img {
      width: 90%; }
    .syntax_guide .project_footer .project_link:hover, .syntax_guide .project_footer .project_link:active {
      box-shadow: 550px 0 0 0 #03afb3 inset; }

  /* CODE EDITOR STYLES
  =================================*/
  /* FANTASY PES STYLES
  =================================*/
  /* STYLES TO THE LINKS: AT MAIN NAVIGATION BAR AND THE FOOTER
  ==============================================================*/ }
@media screen and (min-width: 769px) {
  /* GLOBAL CLASSES
  ========================*/
  /* MAIN CONTAINER
  =========================*/
  /* HEADER
  =========================*/
  /* TITLE'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
  /* COMPORTAMENTO DO TÍTULO DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
  /* HOME ANCHOR'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
  /* COMPORTAMENTO DO IÇONE 'HOME' DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
  .main_header .portfolio_title {
    color: #8c8c8c; }

  /* ASIDE BAR
  =========================== */
  .projects_list_section .projects_list {
        /* END OF ,main_nav_project_link/


        /* SYNTAX GUIDE LINK: AT MAIN NAVIGATION BAR
        /* LINK DO GUIA DE SINTAXES: NA BARRA DE NAVEGAÇÃO PRINCIPAL
        ==============================================================*/
    /* CODE EDITOR LINK: AT MAIN NAVIGATION BAR
    /* LINK DO EDITOR DE TEXTO: NA BARRA DE NAVEGAÇÃO PRINCIPAL
    ==============================================================*/ }
    .projects_list_section .projects_list .main_nav_project_link {
      /* LINKS STYLES: AT MAIN NAVIGATION BAR
      /* ESTILOS PARA LINKS: NA BARRA DE NAVEGAÇÃO PRINCIPAL
      ==============================================================*/
      /* END OF & > .main_nav_link */ }

  /* .projects_list_section */
  /* FOOTER
  =========================== */
  .footer .projects_list {
    overflow: hidden; }
    .footer .projects_list li {
      float: left;
      width: 49.99%; }

  /* PROJECTS AREA
  =================================*/
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* END OF .project_content*/
    /* FOOTER OF SYNTAX GUIDE PROJECT
    =======================*/
    /* END OF .project_footer*/ }
    .syntax_guide .project_header .project_title,
    .syntax_guide .project_header .project_subtitle {
      font-family: 'Dosis',sans-serif; }
    .syntax_guide .project_header .project_title {
      font-family: 'Dosis',sans-serif;
      font-size: 5em; }
    .syntax_guide .project_header .project_subtitle {
      margin: 7.5vh 0;
      font-size: 1.5em; }
    .syntax_guide .project_content {
      /* END OF .project_explanation*/ }
      .syntax_guide .project_content .project_explanation {
        /* SECOND SECTION OF SYNTAX GUIDE PROJECT
        =====================*/
        /* THIRD SECTION OF SYNTAX GUIDE PROJECT
        =====================*/
        /* END OF .third_explanation*/ }
        .syntax_guide .project_content .project_explanation .second_explanation {
          overflow: hidden; }
          .syntax_guide .project_content .project_explanation .second_explanation .intro_heading {
            font-size: 1.3em; }
          .syntax_guide .project_content .project_explanation .second_explanation .project_figure:first-of-type {
            float: left;
            width: 30%;
            margin: 8em 0 0 4em; }
          .syntax_guide .project_content .project_explanation .second_explanation .project_figure:last-of-type {
            float: right;
            width: 50%;
            margin: 1em 1.5em 3em 0em; }
          .syntax_guide .project_content .project_explanation .second_explanation .simple_search_example_img {
            width: 90%; }
          .syntax_guide .project_content .project_explanation .second_explanation .simple_search_result_example_img {
            width: 90%; }
        .syntax_guide .project_content .project_explanation .third_explanation {
          /* END OF .info_box*/ }
          .syntax_guide .project_content .project_explanation .third_explanation .info_box .material-icons {
            font-size: 3.5em; }
          .syntax_guide .project_content .project_explanation .third_explanation .info_box p {
            font-size: 1.5em; }
    .syntax_guide .project_footer {
      font-family: "Cabin",sans-serif; }
      .syntax_guide .project_footer .project_link {
        display: block;
        width: 250px;
        margin: 0 auto;
        font-size: 1.2em; }

  /* CODE EDITOR STYLES
  =================================*/
  .code_editor {
    /* END OF CODE EDITOR .project_header */
    /* END OF .project_content*/
    /* FOOTER OF CODE EDITOR
    =======================*/
    /* END OF .project_footer*/ }
    .code_editor .project_content {
      /* END OF .project_explanation*/ }
      .code_editor .project_content .project_explanation {
        /* SECOND SECTION OF CODE EDITOR PROJECT
        =====================*/
        /* END OF .second_explanation */ }
        .code_editor .project_content .project_explanation .explanation_title {
          font-size: 2.5em; }
        .code_editor .project_content .project_explanation .project_type {
          font-size: 1em; }
        .code_editor .project_content .project_explanation .intro_explanation p {
          font-size: 1.25em; }
        .code_editor .project_content .project_explanation .second_explanation {
          width: 100%; }
          .code_editor .project_content .project_explanation .second_explanation .info_box {
            display: block;
            width: 100%;
            height: auto;
            margin: 1.5em auto 0 auto;
            /* <code> TAG FOR HTML EXAMPLE */
            /* TAG <code> PARA O EXEMPLO DE HTML */
            /* <code> TAG FOR CSS EXAMPLE */
            /* TAG <code> PARA O EXEMPLO DE CSS */
            /* <code> TAG FOR JAVASCRIPT EXAMPLE */
            /* TAG <code> PARA O EXEMPLO DE JAVASCRIPT*/
            /* DEFAULT STYLES FOR <code> TAG */
            /* ESTILO PADRÃO PARA A TAG <code> */ }
            .code_editor .project_content .project_explanation .second_explanation .info_box h3 {
              color: dimgray; }
            .code_editor .project_content .project_explanation .second_explanation .info_box .html_code_example {
              padding-left: 27%; }
            .code_editor .project_content .project_explanation .second_explanation .info_box .css_code_example {
              padding-left: 27%; }
            .code_editor .project_content .project_explanation .second_explanation .info_box .js_code_example {
              padding-left: 27%; }
            .code_editor .project_content .project_explanation .second_explanation .info_box code {
              padding-left: 27%;
              /* STYLES TO DISPLAY HTML IN A BETTER FORMAT*/
              /* ESTILOS PARA EXIBIR AS TAGS EM UM FORMATO MELHOR */
              /* HTML */
              /* CSS */
              /* JAVASCRIPT */ }
              .code_editor .project_content .project_explanation .second_explanation .info_box code .tag::before {
                content: "<"; }
    .code_editor .project_footer .project_link {
      display: block;
      width: 250px;
      margin: 0 auto;
      font-size: 1.2em; }

  /* END OF .code_editor */ }
@media screen and (min-width: 1024px) {
  /* GLOBAL CLASSES
  ========================*/
  /* MAIN CONTAINER
  =========================*/
  .main_wrapper {
    padding-top: 0; }

  /* HEADER
  =========================*/
  /* TITLE'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
  /* COMPORTAMENTO DO TÍTULO DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
  /* HOME ANCHOR'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
  /* COMPORTAMENTO DO IÇONE 'HOME' DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
  .main_header {
    height: 4.5em;
    background: rgba(255, 255, 255, 0.25);
    transition: background 1s ease-in-out; }
    .main_header.solid_bg {
      background: #03afb3; }
    .main_header .portfolio_title {
      padding: 0.9em 0 0 1.5em;
      font-size: 1.5em;
      /* font-weight: 900; */
      color: white;
      letter-spacing: 0.3em; }
    .main_header .menu_btn {
      width: 80px;
      padding: 0 0 0 0; }
      .main_header .menu_btn::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.34);
        opacity: .3; }
      .main_header .menu_btn .hamburger_icon,
      .main_header .menu_btn .close_icon {
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        color: white; }

  /* ASIDE BAR
  =========================== */
  .projects_list_section .projects_list {
        /* END OF ,main_nav_project_link/


        /* SYNTAX GUIDE LINK: AT MAIN NAVIGATION BAR
        /* LINK DO GUIA DE SINTAXES: NA BARRA DE NAVEGAÇÃO PRINCIPAL
        ==============================================================*/
    /* CODE EDITOR LINK: AT MAIN NAVIGATION BAR
    /* LINK DO EDITOR DE TEXTO: NA BARRA DE NAVEGAÇÃO PRINCIPAL
    ==============================================================*/ }
    .projects_list_section .projects_list .main_nav_project_link {
      /* LINKS STYLES: AT MAIN NAVIGATION BAR
      /* ESTILOS PARA LINKS: NA BARRA DE NAVEGAÇÃO PRINCIPAL
      ==============================================================*/
      /* END OF & > .main_nav_link */ }
      .projects_list_section .projects_list .main_nav_project_link > a::after {
        width: 170px !important; }

  /* .projects_list_section (ASIDE)*/
  /* FOOTER
  =========================== */
  /* PROJECTS AREA
  =================================*/
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* END OF .project_content*/
    /* FOOTER OF SYNTAX GUIDE PROJECT
    =======================*/
    /* END OF .project_footer*/ }
    .syntax_guide .project_header {
      padding: 5.5vh 4vw 20vh 4vw; }
      .syntax_guide .project_header .project_title {
        font-size: 6em;
        letter-spacing: 0.15em; }
      .syntax_guide .project_header .project_subtitle {
        margin-bottom: 9.5vh;
        font-size: 2em; }
      .syntax_guide .project_header .more_info_icon {
        width: 9em;
        padding: 1em 1.5em;
        font-size: 1.2em; }
    .syntax_guide .project_content {
      /* END OF .project_explanation*/ }
      .syntax_guide .project_content .project_explanation {
        /* SECOND SECTION OF SYNTAX GUIDE PROJECT
        =====================*/
        /* THIRD SECTION OF SYNTAX GUIDE PROJECT
        =====================*/
        /* END OF .third_explanation*/ }
        .syntax_guide .project_content .project_explanation .explanation_title {
          font-size: 5em; }
        .syntax_guide .project_content .project_explanation .explanation_horizontal_rule {
          width: 85%; }
        .syntax_guide .project_content .project_explanation .project_type {
          font-size: 1.2em; }
        .syntax_guide .project_content .project_explanation .intro_explanation p {
          margin: 0.5em 3em;
          font-size: 1.5em; }
        .syntax_guide .project_content .project_explanation .second_explanation .intro_heading {
          padding: 3em 4em;
          font-size: 1.5em;
          text-align: center; }
        .syntax_guide .project_content .project_explanation .second_explanation .project_figure:first-of-type {
          width: 300px;
          margin: 11em -4% 0 8%; }
        .syntax_guide .project_content .project_explanation .second_explanation .project_figure:last-of-type {
          float: left;
          width: 500px;
          margin: 1em 0 3em 13%; }
        .syntax_guide .project_content .project_explanation .second_explanation .project_image {
          width: 100%; }
        .syntax_guide .project_content .project_explanation .third_explanation {
          /* END OF .info_box*/ }
          .syntax_guide .project_content .project_explanation .third_explanation .info_box {
            padding: 2em 0; }
            .syntax_guide .project_content .project_explanation .third_explanation .info_box .material-icons {
              font-size: 3.5em; }
            .syntax_guide .project_content .project_explanation .third_explanation .info_box p {
              font-size: 1.5em; }

  /* CODE EDITOR STYLES
  =================================*/
  .code_editor {
    /* END OF CODE EDITOR .project_header */
    /* END OF .project_content*/
    /* FOOTER OF CODE EDITOR
    =======================*/
    /* END OF .project_footer*/ }
    .code_editor .project_header .project_title {
      font-size: 5em; }
    .code_editor .project_content {
      /* END OF .project_explanation*/ }
      .code_editor .project_content .project_explanation {
        /* SECOND SECTION OF CODE EDITOR PROJECT
        =====================*/
        /* END OF .second_explanation */ }
        .code_editor .project_content .project_explanation .explanation_title {
          font-size: 2.5em; }
        .code_editor .project_content .project_explanation .project_type {
          font-size: 1em; }
        .code_editor .project_content .project_explanation .intro_explanation p {
          font-size: 1.5em; }
        .code_editor .project_content .project_explanation .second_explanation {
          overflow: hidden;
          height: auto;
          width: 100%; }
          .code_editor .project_content .project_explanation .second_explanation .info_box {
            float: left;
            width: 33.3333%;
            height: auto;
            /* <code> TAG FOR HTML EXAMPLE */
            /* TAG <code> PARA O EXEMPLO DE HTML */
            /* <code> TAG FOR CSS EXAMPLE */
            /* TAG <code> PARA O EXEMPLO DE CSS */
            /* <code> TAG FOR JAVASCRIPT EXAMPLE */
            /* TAG <code> PARA O EXEMPLO DE JAVASCRIPT*/
            /* DEFAULT STYLES FOR <code> TAG */
            /* ESTILO PADRÃO PARA A TAG <code> */ }
            .code_editor .project_content .project_explanation .second_explanation .info_box .html_code_example {
              padding-left: 27%; }
            .code_editor .project_content .project_explanation .second_explanation .info_box .css_code_example {
              padding-left: 27%; }
            .code_editor .project_content .project_explanation .second_explanation .info_box .js_code_example {
              padding-left: 27%; }
            .code_editor .project_content .project_explanation .second_explanation .info_box code {
              padding-left: 27%;
              /* STYLES TO DISPLAY HTML IN A BETTER FORMAT*/
              /* ESTILOS PARA EXIBIR AS TAGS EM UM FORMATO MELHOR */
              /* HTML */
              /* CSS */
              /* JAVASCRIPT */ }

  /* END OF .code_editor */
  /* STYLES TO THE LINKS: AT MAIN NAVIGATION BAR AND THE FOOTER
  ==============================================================*/ }
@media screen and (min-width: 1301px) {
  /* GLOBAL CLASSES
  ========================*/
  /* MAIN CONTAINER
  =========================*/
  /* HEADER
  =========================*/
  /* TITLE'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
  /* COMPORTAMENTO DO TÍTULO DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
  /* HOME ANCHOR'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
  /* COMPORTAMENTO DO IÇONE 'HOME' DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
  /* ASIDE BAR
  =========================== */
  /* FOOTER
  =========================== */
  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide {
    /* FOOTER OF SYNTAX GUIDE PROJECT
    =======================*/
    /* END OF .project_footer*/
    /* FOOTER OF SYNTAX GUIDE PROJECT
    =======================*/
    /* END OF .project_footer*/ }
    .syntax_guide .project_header .project_title {
      font-size: 8em; }
    .syntax_guide .project_content .project_explanation {
      /* SECOND SECTION OF SYNTAX GUIDE PROJECT
      =====================*/
      /* THIRD SECTION OF SYNTAX GUIDE PROJECT
      =====================*/ }
      .syntax_guide .project_content .project_explanation .explanation_horizontal_rule {
        width: 90%; }
      .syntax_guide .project_content .project_explanation .second_explanation .intro_heading {
        padding: 3em 3.5em;
        text-align: center;
        font-size: 1.8em;
        letter-spacing: 0.15em; }
      .syntax_guide .project_content .project_explanation .second_explanation .project_figure:first-of-type {
        width: 320px;
        margin: 11em 0 0 10%; }
      .syntax_guide .project_content .project_explanation .second_explanation .project_figure:last-of-type {
        margin: 1em 1.5em 3em 16%; }
    .syntax_guide .project_footer .project_link {
      display: block;
      width: 361px;
      margin: 0 auto; }
    .syntax_guide .project_footer {
      padding: 4em 0; }
      .syntax_guide .project_footer .project_figure img {
        width: 1152px; }
      .syntax_guide .project_footer .project_link {
        width: 300px;
        border-radius: 0.25em;
        font-size: 1.2em; }

  /* CODE EDITOR STYLES
  =================================*/
  /* FANTASY PES STYLES
  =================================*/
  /* STYLES TO THE LINKS: AT MAIN NAVIGATION BAR AND THE FOOTER
  ==============================================================*/ }

/*# sourceMappingURL=my-page.css.map */
