@media screen AND (min-width:"1024px"){

  /* GLOBAL CLASSES
  ========================*/
  .hide_mobile{
    // display: none;
  }

  /* MAIN CONTAINER
  =========================*/
  .main_wrapper{
    // background: rgba(158, 158, 158, 0.09);
    // position: relative;
    // right: 0%;
    // height: 100%;
    // width: 100%;
    // height: 100vh;
    // width: 100vw;
    padding-top: 0;

    // transition: ease 0.4s all;

    &.toggled{
      // right: 60%;
    }

  }

  /* HEADER
  =========================*/

  /* TITLE'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
  /* COMPORTAMENTO DO TÍTULO DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
  .main_wrapper.toggled .main_header .portfolio_title{
    // visibility: hidden;
    // width: 15%;
  }

  /* HOME ANCHOR'S BEHAVIOR WHEN THE NAVIGATION ASIDE BAR IS OPEN*/
  /* COMPORTAMENTO DO IÇONE 'HOME' DO CABEÇALHO QUANDO A BARRA DE NAVEGAÇÃO LATERAL ESTIVER ABERTA */
  .main_wrapper.toggled .main_header .home_anchor{
    // visibility: visible;
  }

  .main_header{
    // position: fixed;
    // top:0;
    // left: 0;
    height: 4.5em;
    // width: 100%;
    background: rgba(255,255,255,.25);
    // box-shadow: 1px 1px 1px rgb(154,154,154);
    // box-shadow: 0px 0px 3px rgb(34, 31, 31);
    // z-index: 1000;

    transition: background 1s ease-in-out;

    &.solid_bg{
      background: $blueSyntaxGuide;
      // background-color: rgb(62, 80, 88);
    }

    .portfolio_title{
      padding: 0.9em 0 0 1.5em;

      font-size: 1.5em;
      /* font-weight: 900; */
      color: white;
      letter-spacing: 0.3em;
    }

    .home_anchor{
      // visibility: hidden;
      // position: absolute;
      // top: 20%;
      // left: 5%;
      // font-size: 2em;
      // color: $blueSyntaxGuide;
    }

    .menu_btn{
      // min-height: 100%;
      width: 80px;
      // position: absolute;
      // top: 0px;
      // right: 0px;

      padding: 0 0 0 0;
      // background: rgba(255,255,255,.15);
      // background: url("../../img/sprite.png") 20px 15px no-repeat;
      // background-size: 25px;
      //
      // transition: ease 0.2s all;

      &::after{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.34);
        opacity: .3;
      }

      &.toggled{
        // right: 60%;
        // background: url("../../img/sprite.png") 20px -30px no-repeat;
        // background-size: 25px;
      }

      .hamburger_icon,
      .close_icon{
        position: absolute;
        top: 0.5em;
        left: 0.5em;
        // font-size: 2.5em;
        color: rgb(255,255,255);
      }

      .close_icon{
        // display: none;
      }

    }
  }

  /* ASIDE BAR
  =========================== */
  .projects_list_section{
    // width: 215px;
    // height: 100vh;
    // position: fixed;
    // top:0;
    // right: -70vw;
    // right: -70vw;
    // overflow: auto;
    //
    // box-shadow: -3px 0 9px rgb(146, 145, 145);
    // background: rgb(236, 236, 236);
    //
    // z-index: 10000;
    // transition: ease 0.4s all;

    &.toggled{
      // right: 0;
      // display: block;

    }

    .projects_list{

        // padding-top: 1em;

      .main_nav_project_link{
        // width: 100%;
        // height: 150px;

        // margin: 1em auto 5em auto;
        // padding-top: 0.8em;
        // border-bottom: 1px solid rgb(158, 158, 158);
        // border: 1px solid $blueSyntaxGuide;


        &:hover,&:active{
          // background-position: 0 -87px;
        }


        /* LINKS STYLES: AT MAIN NAVIGATION BAR
        /* ESTILOS PARA LINKS: NA BARRA DE NAVEGAÇÃO PRINCIPAL
        ==============================================================*/
        & > a{
          // width: 95x;
          // height: 86px;
          // display: block;
          //
          // margin: 0 auto;
          // border: 1px solid lightgray;

          // background: red;
          // background: url("../../img/nav-bar-icons-sprite-2.png");
          // background-size: 100%;
          // border-radius: 0.25em;
          // cursor: pointer;
  //
          // transition: color,transform .3s ease-in-out;

          &::after{
            width: 170px !important;
            // display: block;
            // position: relative;
            // top: 100px;
            // left: -14%;
            //
            // content: attr(data-content);
            // color: rgb(136, 134, 134);
            // text-transform: uppercase;
            // font-size: 0.9em;

          }

          &:hover{
            // transform: scale(1.1,1.1);

            &::after{

            }
          }
        } /* END OF & > .main_nav_link */
      } /* END OF ,main_nav_project_link/


        /* SYNTAX GUIDE LINK: AT MAIN NAVIGATION BAR
        /* LINK DO GUIA DE SINTAXES: NA BARRA DE NAVEGAÇÃO PRINCIPAL
        ==============================================================*/
        #syntax_guide_link{

          &:hover,&:active{
            // background-position: 0 -90.5px;

            &::after{
              // color: $blueSyntaxGuide;
            }
          }
        }

        /* CODE EDITOR LINK: AT MAIN NAVIGATION BAR
        /* LINK DO EDITOR DE TEXTO: NA BARRA DE NAVEGAÇÃO PRINCIPAL
        ==============================================================*/
        #code_editor_link{
          // background-position: 0 -182px;

          &:hover,&:active{
            // background-position: 0 -273px;

            &::after{
              // color: $redCodeEditor;
            }
          }
        }


      // li:first-child{
      //   margin-top: 0.8em;
      // }
    }
  } /* .projects_list_section (ASIDE)*/

  /* FOOTER
  =========================== */
  .footer{
    // display: block;
    // overflow: hidden;
    // width: 100vw;
    // height: auto;
    // background: $footerBackground;
    // color: $footerFontColor;

    .to_top_btn{
      // position: fixed;
      // bottom: 1em;
      // right: 0.5em;
      // visibility: hidden;
      //
      // width: 50px;
      // height: 50px;
      //
      // padding: 0.3em 0 0 0.2em;
      // border: 1px solid transparent;
      // border-radius: 50%;
      //
      // text-align: center;
      //
      // cursor: pointer;

      // transition: all .3s;

      &:hover,&:active{

        &::before{
          // background: transparent;
          // border: 2px solid rgb(158, 158, 158);

        }
      }

      &.active{
        // visibility: visible;
      }

      i{
        // font-size: 2.5em;
        // color: rgb(158, 158, 158);
        // font-weight: 100;
        //
        // transition: all .3s;

      }


      &:before{
        // content: '';
        // position: absolute;
        // width: 100%;
        // height: 100%;
        // top: 0;
        // left: 0;
        //
        // border: 2px solid transparent;
        // border-radius: 50%;
        //
        // opacity: .6;
        // background: rgb(96, 125, 139);
        //
        // transition: all .3s ease-in-out;
      }
    }

    .projects_list{
      // width: 100%;
      // display: block;
      // margin: 0 auto;

        .footer_project_link{
          // text-align: center;
        }
    }

  }

  /* PROJECTS AREA
  =================================*/
  .projects_area{

  }

  .projects_area,
  .project{
    // width: 100%;
    // height: auto;
  }

  /* SYNTAX GUIDE STYLES
  =================================*/
  .syntax_guide{
    // background-color: rgb(3, 175, 179);

    .project_header{
      // display: block;
      // height: 100vh;
      // width: 100%;
      // margin: 0 auto 0 auto;
      // color: white;

      // font-size: 0.9em;
      padding: 5.5vh 4vw 20vh 4vw;
      // background-image: url("../../img/imac-517449_1366x911.png");
      // background-image: url("../../img/home-office-336373_1920.jpg");
      // background-position: -200px 0;
      // background-repeat: no-repeat;
      // background-size: cover;

      .project_title,
      .project_subtitle{
        // font-weight: 100;
        // font-family: "Cabin",sans-serif;
      }
      .project_title{
        // margin-bottom: 1vh;
        //
        // text-align: center;
        font-size:6em;
        letter-spacing: 0.15em;
      }

      .project_subtitle{
        margin-bottom: 9.5vh;
        // padding: 1.5em 0 0 0;
        //
        font-size: 2em;
        // text-align: center;
        // letter-spacing: 0.15em;
      }

      .more_info_icon{
        width: 9em;

        padding: 1em 1.5em;

        font-size: 1.2em;
      }
    }

    .project_content{

      .dropcap{
        // float: left;
        //
        // padding: 0.3em 0.3em;
        // margin: 8px 6px 0 0;
        //
        // font-size: 2em;
        // line-height: 1;
        // color: rgb(255,255,255);
        //
        // background: $blueSyntaxGuide;
      }


      .project_explanation{
        // height: auto;

        .explanation_title{


          font-size: 5em;
        }

        .explanation_horizontal_rule{
          width: 85%;
        }

        .project_type{
          font-size: 1.2em;
        }

        .explanation_section{

        }

        .intro_explanation{

          p{
            margin: 0.5em 3em;

            font-size: 1.5em;
          }
        }

        /* SECOND SECTION OF SYNTAX GUIDE PROJECT
        =====================*/
        .second_explanation{
          // position: relative;
          //
          // height: auto;
          // width: 100%;
          //
          // padding: 0;
          //
          // text-align: left;

          .intro_heading{
            // position: absolute;
            // top: 0;
            // left: 0;
            padding: 3em 4em;
            // margin-bottom: 1.5em;
            //
            font-size: 1.5em;
            text-align: center;
            // font-weight: 400;
            // color: rgb(255,255,255);
            //
            // background: $blueSyntaxGuide;

            span{
              // color: rgb(70, 85, 93);
              // font-weight: 900;
            }
          }

          .project_figure{
            // position: relative;
            // top:11em;
            // height: auto;

            &:first-of-type{
              width: 300px;

              margin: 11em -4% 0 8%;
            }

            &:last-of-type{
              float: left;

              width: 500px;

              margin: 1em 0 3em 13%;
            }
          }

          .project_image{
            width: 100%;

          }

          .simple_search_example_img{
            // width: 100%;

          }
          .simple_search_result_example_img{
            // width: 95%;
          }
        }

        /* THIRD SECTION OF SYNTAX GUIDE PROJECT
        =====================*/
        .third_explanation{
          // height: auto;

          .info_box{
            // width: 100%;
            // height: 100px;
            padding: 2em 0;
            // margin: 1em 0;
            // background: red;

            .material-icons{
              font-size: 3.5em;
            }

            p{
              font-size: 1.5em;

            }
          }/* END OF .info_box*/
        }/* END OF .third_explanation*/
      }/* END OF .project_explanation*/
  }/* END OF .project_content*/


  /* FOOTER OF SYNTAX GUIDE PROJECT
  =======================*/
  .project_footer{
    // display: inline-block;
    // width: 100%;
    // height: auto;
    // padding: 2em 0;

    // font-family: "Montserrat",sans-serif;

    // background: rgb(255,255,255);

    .project_figure{
      // margin: 0; /* RESET SIDE MARGINS - OVERIDE 'NORMALIZE.CSS'*/
      // margin-bottom: 1em;

      img{
        // display: block;
        // width: 98%;
        //
        // margin: 0 auto;
      }
    }

    .project_link{
      // display: block;
      // width: 361px;

      // margin: 0 auto;
      // padding: 1em;
      // border: 2px solid $blueSyntaxGuide;
      // border-radius: 0.5em;

      // color: rgb(255,255,255);
      // color: $blueSyntaxGuide;
      // text-align: center;
      // letter-spacing: 0.1em;

      // background: $blueSyntaxGuide;
      // background: rgb(255,255,255);
      // background: transparent;
      // transition: box-shadow ease-in-out .55s;

      &:hover,&:active{
        // box-shadow: 350px 0 0 0 $blueSyntaxGuide inset;

        // color: rgb(255,255,255);
      }

    }
  }/* END OF .project_footer*/


  .project_explanation{
    // background: rgb(255,255,255);
    // padding-top: 1em;

    .explanation_title{
      // font-weight: 100;
      // font-family: Dosis;
      // letter-spacing: 0.2em;
      // text-align: center;
      // font-variant: small-caps;
      // font-size: 2.7em;
      // color: rgb(177, 177, 177);
    }

    .project_type{
      // display: inline-block;
      // width: 100%;
      // text-align: center;
      // font-size: 0.7em;
      // font-weight: 100;
      // letter-spacing: 0.2em;
      // color: $blueSyntaxGuide;
    }

    .explanation_horizontal_rule{
        // display: block;
        // width: 80%;
        // margin: 1em auto;
        // border-bottom: 1px solid rgb(177, 177, 177);
    }

    .project_figure{


    }

    .project_image{
      // width: 100%;
      // display: block;
      // margin: 0 auto;
    }

    .explanation_section{
      // letter-spacing: 0.1em;
      // padding: 0.5em 1.5em;
      // line-height: 2;
      // text-align: left;
    }

    .intro_explanation{
      // margin-bottom: 1em;
      // color: rgb(66, 89, 99);

      .intro_heading{

        // width: 40%;
        // font-size: 1.5em;
        // line-height: 1.5;

        span{
          // color: $blueSyntaxGuide;
        }
      }
    }

    .second_explanation{


      .simple_search_example_img{
      }
    }
  }

  .project_footer{
    // display: inline-block;
    // width: 100%;
    // margin: 2em 0;

    .project_link{
      // display: inline-block;
      // margin: 0 0 0 20%;
      // width: 60%;
      // padding: 1em;
      // border-radius: 0.5em;
      // text-align: center;
      // letter-spacing: 0.1em;
      // transition: $transitionAll300ease;
    }

  }

  .read_more_btn{
    // display: inline-block;
    // width: 100%;
    // height: 100%;
    // padding: 1em;
    // color: white;
    // text-align: center;
  }

}

/* CODE EDITOR STYLES
=================================*/
.code_editor{
//  background-color: rgb(3, 175, 179);

  .project_header{
//    display: block;
//    height: 300px;
//    width: 100%;
//    margin: 0 auto 0 auto;

//    padding: 6em 4vw 20vh 4vw;
//    background-image: url("../../img/imac-517449_1366x911.png");
//    // background-image: url("../../img/home-office-336373_1920.jpg");
//    // background-position: -200px 0;
//    background-repeat: no-repeat;
//    background-size: cover;
//
//    font-family: 'Montserrat',sans-serif;
//    color: white;
//    font-size: 0.9em;

    .project_title,
    .project_subtitle{
//      font-weight: 100;
//      font-family: "Cabin",sans-serif; 
//      font-family: "Dosis",sans-serif;
    }
    .project_title{
//      margin-bottom: 1vh;
//
//      text-align: center;
      font-size: 5em;
//      letter-spacing: 0.05em;
//
//      animation-duration: 3s;
    }

    .project_subtitle{
//      margin-bottom: 2.5vh;
//      padding: 0.2em 0 0 0;
//
//      font-size: 1em;
//      text-align: center;
//      letter-spacing: 0.15em;
//
//      animation-duration: 1.8s;
    }

    .more_info_icon{
//      z-index: 3;
//      display: block;
//      width: 8em;
//
//      margin: 0 auto;
//      padding: 0.5em 1.5em;
//      border: 1px solid $blueSyntaxGuide;
//      border-radius: 0.2em;
//
//      color: #03afb3;
//      font-variant: small-caps;
//      font-size: 1.2em;
//      text-align: center;
//
//      cursor: pointer;
//      transition: all .8s ease-in-out;

      &:active,&:hover{
//        box-shadow: 200px 0 0 0 $blueSyntaxGuide inset;

//        color: rgb(255,255,255);
      }
    }
  }  /* END OF CODE EDITOR .project_header */

  .project_content{
//      font-family: "Cabin",sans-serif;

    .dropcap{
//      float: left;
//
//      padding: 0.3em 0.3em;
//      margin: 8px 6px 0 0;
//
//      font-size: 2em;
//      line-height: 1;
//      color: rgb(255,255,255);
//
//      background: $blueSyntaxGuide;
    }


    .project_explanation{
//      height: auto;

      .explanation_title{
//        padding: 0 1em;
//        
        font-size: 2.5em;
//        font-weight: 900;
//        color: $redCodeEditor;
      }

      .explanation_horizontal_rule{

      }

      .project_type{
//        color: $redCodeEditor;
        font-size: 1em;
      }

      .explanation_section{

      }

      .intro_explanation{
//        letter-spacing: 0;
//        padding: 0;
//        line-height: 0;
//        text-align: center;
        
        p{
//          width: 80%;
//          margin: 3em auto;
//          
          font-size: 1.5em;
//          line-height: initial;
//          text-align: center;
//          font-style: italic;
//          color: rgb(150, 150, 150);
        }
      }


      /* SECOND SECTION OF CODE EDITOR PROJECT
      =====================*/
      .second_explanation{
//        position: relative;
       overflow: hidden;
        height: auto;
        width: 100%;
//
//        padding: 0;
//
//        text-align: left;

        h3{
          // position: absolute;
          // top: 0;
          // left: 0;
//          padding: 2em;
//          margin-bottom: 1.5em;
//
//          font-size: 1em;
//          font-weight: 400;
//          color: rgb(255,255,255);
//
//          background: $blueSyntaxGuide;

          span{
//            color: rgb(70, 85, 93);
//            font-weight: 900;
          }
        }
        
        .info_box{
          float: left;
          width: 33.3333%;
          height: auto;   
//          
//          margin: 1.5em auto 0 auto;
//          
//          animation-delay: .5s;
//          animation-duration: 1s;
          
          .project_figure{
//            display: block;
//            position: relative;
//            top: 60px;
//            width: 150px;
//            height: 150px;
//            
//            margin: 0 auto 8em auto;
//            
//            transform: rotate(45deg);
            
            &::after{
//              content: " ";
//              position: absolute;
//              left: -5px;
//              top:5px;
//              
//              width: 100%;
//              height: 100%;
//              
//                         
//
//              
//              border:1px solid lightgray;
              
            }
            
            &::before{
//              content: " ";
//              position: absolute;
//              left: 5px;
//              top: -5px;
//              
//              width: 100%;
//              height: 100%;
//              
//              border:1px solid lightgray;
              
            }
            
   
            svg{
//              display: inline-block;
//              position: absolute;
//              left: 30px;
//              top: 30px;
//              width:60%;
//              height: 60%;
//              
//              font-size: 2em;
//
//              transform: rotate(-45deg);
            }

          }
          
          h3{
//            background: none; 
            
//            padding: 0 1em;
//            margin-bottom: 1em;
            
//            color: dimgray;
//            font-family: "Dosis" ,sans-serif;
//            font-size: 1.5em;
//            text-align: center;
//            line-height: 40px;
            
            span{
//              color: $redCodeEditor;
//              font-weight: inherit;
            }
          }
          
          p{
//            text-align: center;
          }

          /* <code> TAG FOR HTML EXAMPLE */
          /* TAG <code> PARA O EXEMPLO DE HTML */
          .html_code_example{
            padding-left: 27%;
          }
          
          /* <code> TAG FOR CSS EXAMPLE */
          /* TAG <code> PARA O EXEMPLO DE CSS */
          .css_code_example{
//            padding-left: 1em;
            padding-left: 27%;
            
          }
          
          /* <code> TAG FOR JAVASCRIPT EXAMPLE */
          /* TAG <code> PARA O EXEMPLO DE JAVASCRIPT*/
          .js_code_example{
//            padding-left: 4%;
            padding-left: 27%;
//            font-size: 1em;
          } 
          
                    
          /* DEFAULT STYLES FOR <code> TAG */
          /* ESTILO PADRÃO PARA A TAG <code> */
          code{
//            display: block;
//            
//            padding: 1em;
             padding-left: 27%;
//            color: rgb(158, 158, 158);
//            font-size: 1em;
//            text-align: left;
//            letter-spacing: 0;   
//            
//            background: rgba($redCodeEditor,.05);
            
            
            /* STYLES TO DISPLAY HTML IN A BETTER FORMAT*/
            /* ESTILOS PARA EXIBIR AS TAGS EM UM FORMATO MELHOR */
            
                /* HTML */
                .tab{
//                  margin-left: 1em;  
                }

                .tag{

                  &::before{
//                    content: "<";
                  }

                  &::after{
//                    content: ">";
                  }

                }

                .div{
//                  display: block;
                }

                .p{
//                  display: inline-block;
                }
            
                /* CSS */
                .open_curly_braces{
//                  display: block;

                  &::after{
//                    content:"{";
                  }
                  }

                 .close_curly_braces{
                   &::after{
//                     content: "}";
                   }   
                  }

                  .css_decl{
//                    display: block;
//                    margin-left: 1em;
                  }
            
                /* JAVASCRIPT */
                .function{
//                  display: block;  
                }
            
                .function_content{
//                  display: block;
//                  margin-left: 1.5em;
                }
          }
          
          .project_image{
//            width: 90%;

          }
        }

        }/* END OF .second_explanation */
    }/* END OF .project_explanation*/
  }/* END OF .project_content*/
  



    /* FOOTER OF CODE EDITOR
    =======================*/
    .project_footer{
  //    display: inline-block;
  //    width: 100%;
  //    height: auto;
  //    padding: 2em 0;
  //
  //    font-family: "Montserrat",sans-serif;
  //
  //    background: rgb(255,255,255);

      .project_figure{
  //      margin: 0; /* RESET SIDE MARGINS - OVERIDE 'NORMALIZE.CSS'*/
  //      margin-bottom: 1em;

        img{
  //        display: block;
  //        width: 98%;
  //
  //        margin: 0 auto;
        }
      }

      .project_link{
//        display: block;
//        width: 250px;
//        margin: 0 auto;
//        font-size: 1.2em;

        &:hover,&:active{
  //        box-shadow: 350px 0 0 0 $redCodeEditor inset;

  //        color: rgb(255,255,255);
        }

      }
    }/* END OF .project_footer*/



 } /* END OF .code_editor */




  /* STYLES TO THE LINKS: AT MAIN NAVIGATION BAR AND THE FOOTER
  ==============================================================*/
  .main_nav_project_link,
  .footer_project_link{
    // display: block;
    // padding: 1em;
    // color: #AFB2B4;
    // color: white;
    // font-size: 1em;
    // transition: ease .2s all;
  }

  .main_nav_project_link::after{
    // content:attr(data-content);
  }
  .guia_link{
     &:hover,:active{
      //  background-color: $blueSyntaxGuide;
     }
  }

  .code_editor_link{
     &:hover,:active{
      //  background-color: $redCodeEditor;
     }
  }

  .fantasy_pes_link{
     &:hover,:active{
      //  background-color: $greenFantasyPES;
     }
   }
 }
