$transitionAll300ease: all 0.3s ease;
$footerBackground: rgb(56, 64, 71);
$footerFontColor: rgb(175, 178, 180);
$blueSyntaxGuide: rgb(3, 175, 179);
$greenFantasyPES: rgb(76, 175, 80);
$redCodeEditor: rgb(255, 99, 71);
