<div class="user-area">
  <div *ngIf="auth.user$ | async as user; else anonymousArea">
    <div class="user-info">
      <p>
        Hello, <span>{{ user.displayName }}</span>
      </p>
    </div>
    <button class="btn btn-logout" (click)="logout()">logout</button>
  </div>
  <ng-template #anonymousArea>
    <p *ngIf="!auth.userInfoIsChecked">
      <span>
        loading your info
      </span>
      <app-loader-donut></app-loader-donut>
    </p>
    <div *ngIf="auth.userInfoIsChecked" class="login-area">
      <button class="btn btn-login btn-login--google" (click)="login_with_google()">login with chrome</button>
    </div>
  </ng-template>
</div>
